#chat-screen {
  background-color: rgb(136, 167, 255);
  height: 500vh;
}

#chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(136, 167, 255);
  z-index: 1;
}

#chat-screen .status-bar {
  z-index: 2;
}

@keyframes fadein {
  0% {
    transform: none;
    opacity: 0;
  }
  1% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadein-left {
  0% {
    transform: none;
    opacity: 0;
  }
  1% {
    transform: translatex(-100px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadein-right {
  0% {
    transform: none;
    opacity: 0;
  }
  1% {
    transform: translatex(30px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.chat__timestamp {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  color: white;
  font-size: 14px;
  padding: 8px 15px;
  margin-bottom: 25px;
  animation: fadein 0.3s linear;
}

.message-row {
  width: 100%;
  display: flex;
  opacity: 0;
  margin-bottom: 25px;
  animation: fadein-left 0.3s linear forwards;
  animation-delay: 0.5s;
}


.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  margin-right: 10px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message-row__anothor {
  opacity: 0.6;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 7px;
  display: block;
}

.message__bubble {
  background-color: white;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 15px;
  border-top-left-radius: 0;
  margin-right: 4px;
}

.message__time {
  font-size: 11px;
  opacity: 0.6;
}

.message-row__own {
  justify-content: flex-end;
  animation: fadein-right 0.3s linear forwards;
  animation-delay: 1.5s;
}

.message-row__own .message__bubble {
  border-radius: 15px;
  border-top-right-radius: 0;
  background-color: var(--yellow);
  margin-right;: 0px;
  margin-left: 4px;
}

.message-row__own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom:0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 5px 10px;
  align-items: center;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

.reply__column:first-child{
  width: 7%;
}

.reply__column:last-child{
  width: 93%;
  position: relative;
}

.reply__column i {
  opacity: 0.5;
}

.reply__column input {
  width: 95%;
  height: 25px;
  border: var(--main-border);
  border-radius: 15px;
  padding-left: 15px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 7px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 35px;
  top: 6px;
}

.reply__column button {
  background-color: var(--yellow);
  width: 23px;
  height: 23px;
  text-align: center;
  border: none;
  border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
opacity: 0;
}

/*[.reply:focus-within input]을 대신해서 [input:focus]를 쓸 수 있다. 
그러나 부모요소를 앞에 쓰지 않으면 다른 인풋요소도 적용되므로 앞에 꼭 부모요소를 적자*/

.reply input:focus {
 width: 95vw;
 transform: translateX(-7%) translatey(-40px); 
}

.reply:focus-within {
  transform: translatey(40px);
}